﻿header { background: url("../image/1-background.jpg"); }
.paranja {background: rgba(42,46,82,0.95);}
.wrap {width: 75%; margin: auto;}
.logo {width: 200px; height: 50px; margin-left: 10px; background: url("../image/logo.png") no-repeat center; display: inline-block; vertical-align: middle;}
a {color: white; padding: 0;}
@media (min-width: 868px){.navbar-right {}}

/*Banner*/
.description {background-color: transparent; color: #fff; width: 80%; margin: auto; text-align: center; white-space: normal; vertical-align: top; padding: 140px 0;}
.description h1 {display: inline-block; font: bold 60px Open Sans, sans-serif; text-transform: uppercase; -letter-spacing: -1px; margin: 0;}
.description p {font: 20px Raleway, sans-serif; margin: 40px 0 80px; padding-left: 5px;}
.description > button {background-color: #e84545; width: 200px; height: 48px; border-radius: 2px; color: inherit; font: 700 12px Raleway, sans-serif; text-transform: uppercase;}
.description > button:hover {background-color: #704545; border: 1px solid black;}
.modal {color: #2d3033;}

/*Feature*/
.feature {margin: 40px 0; text-align: center;}
.basic h3 {margin: 34px auto 28px; font: bold 14px Raleway, sans-serif; text-transform: uppercase; color: #2d3033}
.feature p { color: #a7aaaf; font: 14px Raleway, sans-serif;}
i.glyphicon {color: #e84545; font-size: 36px;}

.sprite {
    background-image: url(../image/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;  /*для равнения по вертикали*/
}

.sprite-icon-facebook {
    width: 8px;
    height: 18px;
    background-position: -446px -5px;
}

.sprite-icon-in {
    width: 16px;
    height: 16px;
    background-position: -464px -5px;
}

.sprite-icon-tweeter {
    width: 20px;
    height: 14px;
    background-position: -490px -5px;
}


/*Works*/
.works a {
    height: 350px;
    outline: 1px solid white;
    padding: 0;
}
.works img {width: 100%; height: 100%; position: relative; z-index: -1; cursor: help; }

.works p {
    display: none;
    position: absolute;
    font: 14px Raleway, sans-serif;
    text-align: center;
    color: white;
    line-height: 1.8;
    width: 150px; height: 44px;
    left: calc(50% - 75px);
    top: calc(50% - 22px);
}
.works p span:first-child {font-weight: bold; text-transform: uppercase;}
.works a:hover p {display: block;}
.works a:hover {background: rgba(210,63,63,.95);}

/*Footer*/
footer {
    background-color: #3a3e64;
    color: white;
}
footer .wrap {vertical-align: top;}
.location, .social_net, .about {
    text-align: center;
    vertical-align: top;
    margin: 72px 0 100px;
}
footer h6 {margin-bottom: 24px; font: bold 14px Raleway, sans serif; text-transform: uppercase;}
footer div p {font: 14px Raleway, sans-serif; color: #9d9fb2; word-wrap: break-word;}
.social_net a {display: inline-block; height: 40px; width: 40px;  vertical-align: middle; line-height: 40px;}
.social_net a:hover {outline: 1px solid white;}


/*Bottom*/
.bottom { background-color: #313454; color: white; font-size: 14px;}
.bottom .wrap {text-align: center; line-height: 94px;}
.bottom p {color: #666771; font: 14px Raleway, sans-serif; margin: auto; display: inline-block; width: 350px; text-align: center; vertical-align: middle;}
.bottom span {color: white; font-family: Open Sans;}
.bottom span:first-child {color: #EB4545; font-size: 14px; font-family: 'Comic Sans MS';}